<!--  NOTEs:
  1.  An iframe is used to display a web page within a web page.
      The <iframe> tag defines a rectangular region within the document in which
      the browser can display a separate document.

  2.  url_for() is a helper provided by ActiveStorage.  It generates a url for a blob.
 -->

<%= turbo_frame_tag "resume" do %>

  <div class="w-full">
    <%= link_to "#{@applicant.name} resume", url_for(@resume),
                target: "_blank",
                class: "rounded px-2 py-1 font-semibold text-blue-700 hover:text-gray-900 hover:bg-gray-200" %>
    <iframe src="<%= url_for(@resume) %>" width="100%" height="100%"></iframe>
  </div>

<% end %>
